<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header [translucent]="true">
  <ion-toolbar color="nosotros">
    <ion-title>
      Nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>

<style>
  ion-title {
    text-align: center;
  }
</style>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- persona 1 -->
  <ion-grid>
    
    <!-- /** persona 2 **/ -->
 

        
   
  
    <div class="container">
      <div class="card" onclick="toggleCard(this)">
        <img src="https://scontent.fcjs3-2.fna.fbcdn.net/v/t39.30808-6/334660036_230638459398371_319142936855649193_n.jpg?stp=cp6_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeHIc0TnRoawrjLQmenh_bogMR1DfUuPe-cxHUN9S49752NLnbpdy5LiTVuUnjwm9gmbdzDBdxVuwf41TnYbYsMF&_nc_ohc=nUjN43GJSJ8AX--Fgie&_nc_ht=scontent.fcjs3-2.fna&oh=00_AfAqTGF99YkS9s8YDI0JYIKt-6asC8tADwJHJ3UBOPiEjw&oe=64190D7F"/>
        <div class="card__content">
          <h2>Luis Cahuich</h2>
          <p>
             Estudiante de la          Universidad Tecnologica de cancun.
          </p>
          <a href="https://github.com/CahuichG17"><i class="fa fa-github" style="font-size:36px"></i></a>
        </div>
      </div>
      <div class="card" onclick="toggleCard(this)">
        <img src="/assets/icon/neto.jpeg"/>
        <div class="card__content">
          <h2>Ernesto Soberano</h2>
          <p>
            Estudiante de la          Universidad Tecnologica de cancun.
         </p>
          <a href="https://github.com/ErnestoJESB"><i class="fa fa-github" style="font-size:36px"></i></a>
        </div>
      </div>
      <div class="card" onclick="toggleCard(this)"> 
        <img src="/assets/icon/buendia.jpeg"/>
        <div class="card__content">
          <h2>Kevin Campos</h2>
          <p>
            Estudiante de la          Universidad Tecnologica de cancun.
         </p>
          <a href="https://github.com/AlphaSKC"><i class="fa fa-github" style="font-size:36px"></i></a>
        </div>
      </div>
      <div class="card" onclick="toggleCard(this)"> 
        <img src="/assets/thiago.jpg"/>
        <div class="card__content">
          <h2>Thiago Ramirez</h2>
          <p>
            Estudiante de la          Universidad Tecnologica de cancun.
         </p>
          <a href="https://github.com/Thiago2309"><i class="fa fa-github" style="font-size:36px"></i></a>
        </div>
      </div>
    </div>
  


    <!-- /** persona 3 **/ -->
    
  </ion-grid>
</ion-content>
