<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Monitoreo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Monitoreo</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-toolbar>
    <ion-title>Detector de movimiento</ion-title>
  </ion-toolbar>


  <ion-card>
    <img alt="iguana" src="/assets/icon/img/iguana.jpg" />
    <ion-card-header>
      <ion-card-title>Seguridad</ion-card-title>
      <ion-card-subtitle>Desactivar/Activar sensores</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="setOpen(true)">Abrir</ion-button>
    </ion-card-content>
  </ion-card>
 
   <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Movimiento</ion-title>
          <ion-buttons slot="end">
           <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Detector de movimiento</ion-card-title>
            <ion-card-subtitle>Atrás</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <ion-label >Desactivar sensor</ion-label>
            <ion-toggle (click)="funciones()"  color="success" [checked]="toggleValue"></ion-toggle>
           </ion-item>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal> 
  <ion-toolbar>
    <ion-title>Temperatura</ion-title>
  </ion-toolbar>
 
  <ion-card>
    <img alt="Temperatura" src="/assets/icon/img/termometro.jpg" />
    <ion-card-header>
      <ion-card-title>Temperatura</ion-card-title>
      <ion-card-subtitle>Gráficas de Temperatura</ion-card-subtitle>
    </ion-card-header>


    <ion-button id="open-modal" expand="block">Visualizar Temperatura</ion-button>

    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar>
            <ion-title>Temperatura</ion-title>
            <ion-buttons slot="end">
              <ion-button color="dark" (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
            <ion-list>
              <ion-item *ngIf="data">
                {{ data.estado }}
              </ion-item>
            </ion-list>          
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-card>
  
</ion-content>