
<ion-header [translucent]="true">
  <ion-toolbar color="nosotros">
    <ion-title>
      Monitoreo
    </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  ion-title {
    text-align: center;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Monitoreo</ion-title>
    </ion-toolbar>
  </ion-header>




  <ion-card>
    <img alt="iguana" src="/assets/icon/seguridad.png" />
    <ion-card-header>
        <ion-card-title style="text-align: center;">Seguridad</ion-card-title>
      <ion-card-subtitle style="text-align: center;">Activar/Desactivar sensores</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" (click)="setOpen(true)">Abrir</ion-button>
    </ion-card-content>
  </ion-card>
 
   <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Movimiento</ion-title>
          <ion-buttons slot="end">
           <ion-button (click)="setOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Detector de Movimiento</ion-card-title>
            <ion-card-subtitle>Atrás</ion-card-subtitle>
          </ion-card-header>
          <ion-item>
            <ion-label >Desactivar sensor</ion-label>
            <ion-toggle (click)="funciones()"  color="success" [checked]="toggleValue"></ion-toggle>
           </ion-item>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-card>
    <div class="image-container">
      <div>
        <img alt="Temperatura"  src="/assets/icon/baja-temperatura.png" height="150px" width="auto" class="centered-image">
      </div>
    </div>
    <ion-card-header>
      <ion-card-title style="text-align: center;">Historial de medición</ion-card-title>
      <ion-card-subtitle style="text-align: center;">Gráficas de Temperatura y Humedad</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- <ion-button id="open-modal" expand="block" routerLink="/graficas" >Temperatura</ion-button> -->
      <ion-button expand="block" routerLink="/graficas" >Graficas</ion-button>
    </ion-card-content>

    <ion-modal #modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-toolbar color="nosotros">
            <ion-title>Temperatura y Humedad</ion-title>
            <ion-buttons slot="end">
              <ion-button color="dark" (click)="modal.dismiss()">Cerrar</ion-button>
            </ion-buttons>
          </ion-toolbar>
            <ion-list>
              <ion-item *ngIf="data">
                {{ data.estado }}
              </ion-item>
            </ion-list> 
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-card>

  <ion-card>
    <img alt="iguana" src="/assets/icon/incidencias.png" />
    <ion-card-header>
        <ion-card-title style="text-align: center;">Incidencias</ion-card-title>
      <ion-card-subtitle style="text-align: center;">Monitoreo de incidencias</ion-card-subtitle>
      <div style="text-align: center;">
        <ion-item *ngIf="data">
          {{ data.incidencias }}
        </ion-item>
      </div>
    </ion-card-header>


  </ion-card>
</ion-content>