<ion-header [translucent]="true">
  <ion-toolbar color="nosotros">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<style>
  ion-title {
    text-align: center;
  }
</style>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
    <ion-card-subtitle style="text-align: center;">Proyecto SM52</ion-card-subtitle>
  </ion-header>
  <div class="colorhome">
    <ion-card>
      <img alt="Silhouette of mountains" src="/assets/icon/hotel-de-insectos-1.jpg" />
      <ion-card-header>
        <ion-card-title>Hotel de Insectos</ion-card-title>
        <ion-card-subtitle>Grupo SM52</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content class="ion-text-left">
        Creacion de un Hotel de Insectos del Grupo de SM52, Para que nuestro
        huerto contenga una mayor polinización gracias a los insectos que 
        viviran en nuestro Hotel.
      </ion-card-content>
    </ion-card>
    <!-- separador  -->
      <h2 style="text-align: center;">Habitantes</h2>
    <!-- fin separador -->
    <!-- Inicio de carrusel -->
    <ion-slides [options]="slideOpts">
      <ion-slide>
        <ion-card>
          <img src="/assets/icon/abeja1.jpg">
            <ion-card-title>Abejas</ion-card-title>
            <ion-card-subtitle>Abejas/Solitarias</ion-card-subtitle>
            <ion-card-content class="ion-text-left">
              El Hotel tendra diversos insectos que ayuden al ciclo que puede tener un huerto
              y uno de ellos son las <b>ABEJAS</b> que son las encargadas de polinizar nuestro 
              huerto.
            </ion-card-content>
        </ion-card>
      </ion-slide>
      <!-- segundo cart -->
      <ion-slide>
        <ion-card>
          <img src="ruta-a-imagen-2">
          <ion-card-content>
            <ion-card-title>Título de la imagen 2</ion-card-title>
            <ion-card-subtitle>Descripción de la imagen 2</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="ruta-a-imagen-3">
          <ion-card-content>
            <ion-card-title>Título de la imagen 3</ion-card-title>
            <ion-card-subtitle>Descripción de la imagen 3</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-slide>   
    <!-- Fin de carrusel  -->

    <!-- separador  -->
      <h2 style="text-align: center;">Seguridad</h2>
    <!-- fin separador -->

    <!-- imagen de seguridad -->
    <ion-slide>
      <ion-card>
        <img src="/assets/icon/abeja1.jpg">
          <ion-card-title>Abejas</ion-card-title>
          <ion-card-subtitle>Abejas/Solitarias</ion-card-subtitle>

          <ion-card-content class="ion-text-left">
            El Hotel tendra diversos insectos que ayuden al ciclo que puede tener un huerto
            y uno de ellos son las <b>ABEJAS</b> que son las encargadas de polinizar nuestro 
            huerto.
          </ion-card-content>
      </ion-card>
    </ion-slide>
    <!-- fin -->
    

